header {
	overflow: hidden;
	background-color: black;
	width: 100%;
	z-index: 500;
}

nav {
	z-index: 100;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-color: var(--nav-color);
	max-height: 49px;
}

nav li {
	list-style-type: none;
	padding: 15px;
	 background: 
	    linear-gradient(currentColor 0 0) 
	    bottom /100% var(--d, 0px) no-repeat;
	 transition: 0.5s;
	 background-position: bottom 0px center;
}

nav li:hover {
	--d: 2px;
	 background-position: bottom 8px center;
}

nav li:hover + nav li {
	background-color: red;
}


a {
	color: white;
	text-decoration: none;
}

header {
	height: 49px;
	width: 100%;
	background-color: var(--nav-color);
}

.left li {
	float: left;
}

.right li {
	float: right;
}


